{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Blog Title - {{ article.title }}</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
  </head>
  <body>
    {% if not user.is_authenticated %}
      <p>Hello, Guest. <a href="/blog/login">Login</a></p>
    {% else %}
      <p>Hello, <a href="/blog/{{ user.author.slug }}">{{ user.author.name }}</a>.</p>
    {% endif %}
    <h1>{{ article.title }}</h1>
    <h3><a href="/blog/{{ article.author.slug }}">{{ article.author }}</a>  -  {{ article.publication_date }}</h3>
    <p>{{ article.text|linebreaks }}</p>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>
