{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Blog Title - {{ article.title }}</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1>{{ article.title }}</h1>
    <h3>{{ article.author }}  -  {{ article.publication_date }}</h3>
    <p>{{ article.text|linebreaks }}</p>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>
