{% extends "blog/base.html" %}

{% block title %} - My articles{% endblock %}

{% block login %}
  {% if not user.is_authenticated %}
  <p>Hello, Guest. <a href="/blog/login">Login</a></p>
  {% else %}
  <p>Hello, <a href="/blog/{{ user.author.slug }}">{{ user.author.name }}</a>.
    <a href="/blog/myaccount">My account</a>  My articles
    <a href="/blog/logout">Logout</a>
  </p>
  {% endif %}
{% endblock %}

{% block content %}
   <form action="/blog/myarticles/edit/" method="post">{% csrf_token %}
  <input for="id_pk" type="hidden" name="pk" value="0" />
  <input type="submit" value="New"/>
  </form>
  {% for article in latest_articles_list %}
  <h2>{{ article.title }}</h2>
  <h3><a href="/blog/{{ article.author.slug }}">{{ article.author }}</a>  -  {{ article.publication_date }}</h3>
  <form action="/blog/myarticles/edit/" method="post">{% csrf_token %}
  <input for="id_pk" type="hidden" name="pk" value="{{ article.pk }}" />
  <input type="submit" value="Edit"/>
  </form>
  <form action="/blog/myarticles/delete/" method="post">{% csrf_token %}
  <input for="id_pk" type="hidden" name="pk" value="{{ article.pk }}" />
  <input for="id_page" type="hidden" name="page" value="{{ page }}" />
  <input type="submit" value="Delete"/>
  </form>
  <p>{{ article.text|linebreaks|truncatewords:180 }}</p>
  {% endfor %}
  {% if page == 1 %}
  {% if not last %}<h3><a href="/blog/myarticles/page/{{ page|add:1 }}">Next&#62;</a></h3>{% endif %}
  {% else %}
  <h3><a href="/blog/myarticles/page/{{ page|add:-1 }}">&#60;Previous</a>
    {% if not last %} - <a href="/blog/myarticles/page/{{ page|add:1 }}">Next&#62;</a>{% endif %}</h3>
  {% endif %}
{% endblock %}
