{% extends "blog/base.html" %}

{% block login_link %} class="active"{% endblock %}

{% block title %} - Login{% endblock %}

{% block content %}
  <h1>Login</h1>
  {% if not is_good %}
  <div class="alert alert-error">  
    <a class="close" data-dismiss="alert">×</a>  
    <strong>Error!</strong> Wrong username or password.  
  </div>
  {% endif %}
  <form class="form-horizontal" action="/blog/login/" method="post">{% csrf_token %}
    <div class="control-group{% if form.username.errors%} error{% endif %}">
      <label class="control-label" for="id_username">Username</label>
      <div class="controls">
        <input type="text" id="id_username" name="username" placeholder="Username">
        <span class="help-inline">{{ form.username.errors|removetags:"li" }}</span>
      </div>
    </div>
    <div class="control-group{% if form.password.errors%} error{% endif %}">
      <label class="control-label" for="id_password">Password</label>
      <div class="controls">
        <input type="password" id="id_password" name="password" placeholder="Password">
        <span class="help-inline">{{ form.password.errors|removetags:"li" }}</span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  </form>
{% endblock %}
