{% extends "blog/base.html" %}

{% block register_link %} class="active"{% endblock %}

{% block title %} - Register{% endblock %}

{% block content %}
<h1>Hello, {{ author.author_name }}!</h1>
<hr>
<div>
  <table>
    <tr colspan='2'>
      <td><div>You have created an account with the details:</div></td>
    </tr>
    <tr>
      <td><div>Username:</div></td>
      <td><div>{{ author.username }}</div></td>
    </tr>
    <tr>
      <td><div>Password:</div></td>
      <td><div>{{ author.password }}</div></td>
    </tr>
    <tr colspan='2'>
      <td><div>Description:</div></td>
    </tr>
    <tr colspan='2'>
      <td><textarea rows="4" cols="50" readonly>{{ author.author_description|linebreaks|striptags }}</textarea></td>
    </tr>
  </table>
  <br>
  <h4>Please check your email ({{ author.email }}) for completing the registration process! </h4>
</div>
{% endblock %}
