{% extends "blog/base.html" %}

{% block title %} - Resend email validation{% endblock %}


{% block content %}
  <h1>Resend code</h1>
  {% if is_good %}
  <div class="alert alert-success">  
    <a class="close" data-dismiss="alert">×</a>  
    <strong>Success.</strong> An email has been sent to that email address.
  </div>
  {% endif %}
  
  
  <form class="form-horizontal" action="/blog/resend/" method="post">{% csrf_token %}
    <div class="control-group{% if form.email.errors%} error{% endif %}">
      <label class="control-label" for="id_email">Email</label>
      <div class="controls">
        <input type="text" id="id_email" name="email" placeholder="Email">
        <span class="help-inline">{{ form.email.errors|removetags:"li" }}</span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Resend</button>
      </div>
    </div>
  </form>
{% endblock %}
