{% extends "blog/base.html" %}

{% block title %} - Password reset{% endblock %}


{% block content %}
  <h1>Password reset</h1>
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}error{% else %}success{% endif %}">  
      <a class="close" data-dismiss="alert">×</a> 
      <strong>{% if message.tags == 'error' %}Error!{% else %}Success.{% endif %}</strong> {{ message }}
    </div>
    {% endfor %}
  {% endif %}
  <form action="/blog/reset_password/" class="form-horizontal" method="post">{% csrf_token %}
    <div class="control-group{% if form.username_email.errors%} error{% endif %}">
      <label class="control-label" for="id_username_email">Username/Email</label>
      <div class="controls">
        <input type="text" id="id_username_email" name="username_email">
        <span class="help-inline">{{ form.username_email.errors|removetags:"li" }}</span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Reset</button>
      </div>
    </div>
  </form>
{% endblock %}
