{% extends "blog/base.html" %}
{% load i18n %}

{% block articles_link %} class="active"{% endblock %}

{% block title %} - {% trans 'Edit' %}{% endblock %}

{% block heading %}<h1>{% trans 'Edit' %}</h1>{% endblock %}
{% block content %}
  <form class="form-horizontal" action="/blog/myarticles/edit/{{ article_pk }}/" method="post">{% csrf_token %}
    <div class="control-group{% if form.title.errors%} error{% endif %}">
      <label class="control-label" for="id_title">{% trans 'Title' %}</label>
      <div class="controls">
        <input type="text" id="id_title" name="title" placeholder="{% trans 'Title' %}" value="{% if form.title.value != None %}{{ form.title.value }}{% endif %}">
        <span class="help-inline">{{ form.title.errors|removetags:"li" }}</span>
      </div>
    </div>
    <div class="control-group{% if form.text.errors%} error{% endif %}">
      <label class="control-label" for="id_text">{% trans 'Content' %}</label>
      <div class="controls">
        <textarea id="id_text" rows="4" name="text" placeholder="{% trans 'Content' %}">{% if form.text.value != None %}{{ form.text.value }}{% endif %}</textarea>
        <span class="help-inline">{{ form.text.errors|removetags:"li" }}</span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
      </div>
    </div>
  </form>
{% endblock %}
