{% extends "blog/base.html" %}
{% load i18n %}

{% block account_link %} class="active"{% endblock %}

{% block title %} - {% trans 'My Account' %}{% endblock %}

{% block heading %}<h1>{% trans 'My Account' %}</h1>{% endblock %}
{% block content %}
  <form class="form-horizontal" action="/blog/myaccount/" method="post">{% csrf_token %}
    <div class="control-group{% if form.password.errors%} error{% endif %}">
      <label class="control-label" for="id_password">{% trans 'Password' %}</label>
      <div class="controls">
        <input type="password" id="id_password" name="password">
        <span class="help-inline">{{ form.password.errors|removetags:"li" }}</span>
      </div>
    </div>
    <div class="control-group{% if form.newpass.errors%} error{% endif %}">
      <label class="control-label" for="id_newpass">{% trans 'New password' %}</label>
      <div class="controls">
        <input type="password" id="id_newpass" name="newpass">
        <span class="help-inline">{{ form.newpass.errors|removetags:"li" }}</span>
      </div>
    </div>
    <div class="control-group{% if form.pass_check.errors%} error{% endif %}">
      <label class="control-label" for="id_pass_check">{% trans 'Re-type password' %}</label>
      <div class="controls">
        <input type="password" id="id_pass_check" name="pass_check">
        <span class="help-inline">{{ form.pass_check.errors|removetags:"li" }}</span>
      </div>
    </div>
    <div class="control-group{% if form.name.errors%} error{% endif %}">
      <label class="control-label" for="id_name">{% trans 'Author name' %}</label>
      <div class="controls">
        <input type="text" id="id_name" name="name" placeholder="{% trans 'Author Name' %}" value="{% if form.name.value != None %}{{ form.name.value }}{% endif %}">
        <span class="help-inline">{{ form.name.errors|removetags:"li" }}</span>
      </div>
    </div>
    <div class="control-group{% if form.description.errors%} error{% endif %}">
      <label class="control-label" for="id_description">{% trans 'Author Description' %}</label>
      <div class="controls">
        <textarea id="id_description" rows="4" name="description" placeholder="{% trans 'Author Description' %}">{% if form.description.value != None %}{{ form.description.value }}{% endif %}</textarea>
        <span class="help-inline">{{ form.description.errors|removetags:"li" }}</span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
      </div>
    </div>
  </form>
{% endblock %}
