{% extends "blog/base.html" %}
{% load i18n %}

{% block title %} - {% trans 'Password reset' %}{% endblock %}

{% block heading %}<h1>{% trans 'Password reset' %}</h1>{% endblock %}

{% block content %}
  <form action="/blog/reset_password/" class="form-horizontal" method="post">{% csrf_token %}
    <div class="control-group{% if form.username_email.errors%} error{% endif %}">
      <label class="control-label" for="id_username_email">{% trans 'Username/Email' %}</label>
      <div class="controls">
        <input type="text" id="id_username_email" name="username_email">
        <span class="help-inline">{{ form.username_email.errors|removetags:"li" }}</span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary"> {% trans 'Reset' %}</button>
      </div>
    </div>
  </form>
{% endblock %}
